<style >

.background {
	background-color: #b12626;
}


span {
 font-size: 15vw;
 font:white;
}

* {
	margin: 0;
	padding: 0;
	background-image: url('https://i.ibb.co/hV7NXbc/Stopwatch-1.jpg');
	background-size: cover;
}




</style>