<style>

.background {
    background-image: url('https://i.ibb.co/hV7NXbc/Stopwatch-1.jpg');
    background-size: cover;
}

p{
display:block;
text-align: center;

}

  span{
    margin-left: auto;
  margin-right: auto;
  text-align: center;
  color:white;
    font-size: 4vw;}


.stop{
  width:120px;
  display:block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color:white;
    font-size: 2vw;
background: #fbda68;

padding-right:5px;
 padding-left:5px;
  padding-top:5px;
padding-bottom:5px;

}




.about{
  font-size: 20px;
   color:white;
    text-align: right;
margin-right:10px;
  margin-left:5px;
}

.clear{
  font-size: 2vw;
  display:block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color:white;
}
* {
    margin: 0;
    padding: 0;
    background-image:      url('https://i.ibb.co/hV7NXbc/Stopwatch-1.jpg');
    background-size: cover;}


.copyright {
    text-decoration: none;
    horizontal-align: top;
    font-size: clamp(0.6rem, 2.6vw, 0.8rem);
    color: white;
    font-family: 'Orbitron', sans-serif;
    overflow: hidden;
    text-align: center;
    position: fixed;
    bottom: 3%;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    width: 100%;
}
</style>
